<h1>{{countryAthletesResponse?.data?.country?.CountryName}} <span class="fi" [class]="'fi-' + (countryAthletesResponse?.data?.country?.CountryISOalpha2 ? countryAthletesResponse?.data?.country?.CountryISOalpha2?.toLowerCase() : 'xx')"></span></h1>
<h2 class="text-muted">Athletes Summary</h2>

<h3>Top 10 Athletes</h3>
<div class="mb-3" [formGroup]="countryAthletesOptionsForm">
    <div class="btn-group me-2 mt-2" role="group" aria-label="Weighting selection">
        <input id="orderCount" type="radio" class="btn-check" formControlName="weighted" [value]="null">
        <label for="orderCount" class="btn btn-outline-primary">Default (Count)</label>
    
        <input id="orderWeighted" type="radio" class="btn-check" formControlName="weighted" [value]="'true'">
        <label for="orderWeighted" class="btn btn-outline-primary">Weighted</label>
    </div>

    <div class="btn-group me-2 mt-2" role="group" aria-label="Gender selection">
        <input id="genderBoth" type="radio" class="btn-check" formControlName="gender" [value]="null">
        <label for="genderBoth" class="btn btn-outline-primary">Both</label>

        <input id="genderMale" type="radio" class="btn-check" formControlName="gender" [value]="'Men'">
        <label for="genderMale" class="btn btn-outline-primary">Men</label>
    
        <input id="genderFemale" type="radio" class="btn-check" formControlName="gender" [value]="'Women'">
        <label for="genderFemale" class="btn btn-outline-primary">Women</label>
    </div>

    <a [routerLink]="['/', 'country', 'medals', countryAthletesResponse?.data?.country?.CountryID]" class="btn btn-secondary me-2 mt-2">Country Medals summary <i class="bi bi-box-arrow-in-right"></i></a>

    <button appBackButton class="btn btn-danger mt-2">Back <i class="bi bi-back"></i></button>
</div>

<div class="alert alert-danger" [hidden]="!error">
    {{ error }}
</div>
<div class="alert alert-info" [hidden]="!hasNoAthletes">
    The current filter/query for {{countryAthletesResponse?.data?.country?.CountryName}} has no athletes that have won medals, therefore no data can be displayed.
</div>

<div id="chartdiv" [hidden]="hasNoAthletes">
</div>

<div [hidden]="hasNoAthletes">
    <h3 class="mt-2">Extended athletes list</h3>
    <p class="lead mb-1">Total athletes: {{countryAthletesResponse?.data?.total}}</p>
    <div class="table-responsive">
        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Total Medals</th>
                    <th scope="col">Bronze 🥉</th>
                    <th scope="col">Silvers 🥈</th>
                    <th scope="col">Golds 🥇</th>
                    <th scope="col">Weighted</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let athlete of countryAthletesResponse?.data?.athletes" [routerLink]="['/', 'athlete', 'detail', athlete.AthleteID]">
                    <td>{{athlete.AthleteFullName}}</td>
                    <td>{{athlete.AthleteGender}}</td>
                    <td>{{athlete.AthleteMedals}}</td>
                    <td>{{athlete.Bronze}}</td>
                    <td>{{athlete.Silvers}}</td>
                    <td>{{athlete.Golds}}</td>
                    <td>{{athlete.Weighted}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <li class="page-item disabled"><span class="page-link">Page {{page}} of {{endPage}}</span></li>
        <li class="page-item"><a class="page-link" [routerLink]="[]" [queryParams]="{ page: null }" [queryParamsHandling]="'merge'"><i class="bi bi-chevron-double-left"></i> First</a></li>
        <li class="page-item" [class.disabled]="page === 1"><a class="page-link" [routerLink]="[]" [queryParams]="{ page: page - 1 <= 1 ? null : page - 1 }" [queryParamsHandling]="'merge'">Previous</a></li>
        <li class="page-item" [class.disabled]="page >= endPage"><a class="page-link" [routerLink]="[]" [queryParams]="{ page: page + 1 }" [queryParamsHandling]="'merge'">Next</a></li>
        <li class="page-item"><a class="page-link" [routerLink]="[]" [queryParams]="{ page: endPage }" [queryParamsHandling]="'merge'">Last <i class="bi bi-chevron-double-right"></i></a></li>
    </ul>
</div>
