<h1>{{countryMedalsResponse?.CountryName}}</h1>
<h2 class="text-muted">Medal Summary</h2>

<p class="lead">Total medals: {{countryMedalsResponse?.Medals}}</p>
<div class="mb-3">
    <div class="btn-group me-2 mt-2" role="group" aria-label="Olympic games type select">
        <input id="gamesTypeAll" type="radio" class="btn-check" [formControl]="type" [value]="null">
        <label for="gamesTypeAll" class="btn btn-outline-primary">All</label>
    
        <input id="gamesTypeSummer" type="radio" class="btn-check" [formControl]="type" [value]="'Summer'">
        <label for="gamesTypeSummer" class="btn btn-outline-primary">Summer</label>
    
        <input id="gamesTypeWinter" type="radio" class="btn-check" [formControl]="type" [value]="'Winter'">
        <label for="gamesTypeWinter" class="btn btn-outline-primary">Winter</label>
    </div>

    <a [routerLink]="['/', 'country', 'athletes', countryMedalsResponse?.CountryID]" class="btn btn-secondary me-2 mt-2">Country Athletes summary <i class="bi bi-box-arrow-in-right"></i></a>

    <button appBackButton class="btn btn-danger mt-2">Back <i class="bi bi-back"></i></button>
</div>

<div class="alert alert-danger" [hidden]="!error">
    {{ error }}
</div>
<div class="alert alert-info" [hidden]="!hasNoMedals">
    {{countryMedalsResponse?.CountryName}} has no medals recorded for {{type.value === null ? 'all the' : 'the ' + type.value}} games.
</div>

<div id="chartdiv" [hidden]="hasNoMedals">
</div>